# dependencies
node_modules/

# next.js
.next/
out/

# build
tsconfig.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*.local

# test
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage/

# context docs
/context
